fasttext-wheel
matplotlib
textgrid
Ipython
configArgParse
Cython
imageio
librosa
lmdb
loguru
nnAudio
numba
numpy
opencv-python
pandas
parso
Pillow
pooch
protobuf
psutil
ptyprocess
pyarrow==4.0.0
pycosat
pycparser
pyparsing
pyrsistent
PyWavelets
PyYAML
pyzmq
scikit-image
scikit-learn
scipy
six
termcolor
terminado
testpath
tifffile
timm
torch
torchvision
torchaudio
tornado
yacs
yarg
yarl
tqdm
tensorboard
jupyterlab
python-osc